body {
	background: #bbbfc2; 	
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	cursor: pointer;
}
.clear-both {
	clear: both;
}
.wrapper {
	width: 980px;
	margin: 0 auto;
	background: white;
}
.header {
	background: url(../images/header.jpg);
	height: 276px;
  	font-family: 'Open Sans', sans-serif;
}
.header h1 {
	margin: 0px;
	font-weight: 100;
	font-size: 32px;
}
.header h2 {
	margin: 0px;
	padding-top: 15px;
	line-height: 40px;
	font-weight: bold;
	font-size: 50px;
	text-transform: uppercase;
}
.header-text {
	color: white;
	float: right;
	padding: 50px 70px 0 0;
	margin: 0px;
	width: 500px;
}
.main {
	margin-top: 60px;
	overflow: hidden;
  	font-family: 'Source Sans Pro', sans-serif;
}
.navigation {
	width: 30%;
	height: 100%;
	line-height: 60px;
	text-align: center;
	background: #ebeced; /* Old browsers */
	background: -moz-linear-gradient(left, #ebeced 75%, #ebeced 75%, #ebeced 75%, #d1d5d6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ebeced 75%,#ebeced 75%,#ebeced 75%,#d1d5d6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ebeced 75%,#ebeced 75%,#ebeced 75%,#d1d5d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeced', endColorstr='#d1d5d6',GradientType=1 ); /* IE6-9 */
	float: left;
}
.active {
	background: white;
}
.baby-step.visible {
	opacity: 1;
	height: auto;
}
.navigation a {
	text-decoration: none;
	display: block;
	width: 100%;
}
.navigation ul {
	list-style: none;
}
.content {
	float: right;
	width: 70%;
	padding: 0 70px;
    box-sizing: border-box;
}
.baby-step {
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: opacity 2s ease-out;
}
.baby-step h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: semi-bold;
	font-size: 30px;
	color: #36abe1;
	margin: 8;
	line-height: 20px;
}
.baby-step h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
	font-size: 18px;
	color: #5c6366;
	margin: 8;
	line-height: 20px;
	padding-bottom: 24px;
}
.baby-step p {
	font-family: 'Helvetica', sans-serif;
	font-size: 13px;
	color: #65686f;
	margin: 8;
	line-height: 18px;
	padding-bottom: 40px;
}




